<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:annotation />

	<context:component-scan base-package="com.lhc">
		<context:include-filter type="annotation"
			expression="com.alibaba.dubbo.config.annotation.Service" />
	</context:component-scan>

	<dubbo:application name="lhc-shop-consumer" />
	<dubbo:provider token="true" application="lhc-shop-consumer"
		accesslog="true" />
	<dubbo:registry protocol="zookeeper" address="${zkClient}"
		client="curator" timeout="${dubboTimeOut}" />
	
	<dubbo:protocol name="dubbo" port="${dubboPort}"  threadpool="cached"/>


	<!-- 测试消费 -->
	<dubbo:reference id="thirdService"
		interface="com.lhc.test.service.IthirdYearService"
		version="${dubboVerson}"  check="false" group="${dubboGroup}" owner="liuhaichao">
	</dubbo:reference>
	
	
</beans>